.navbar {

    margin-bottom: 0;

    background-color: black;

    border: 0;

    font-size: 11px !important;

    font-color:white;

    letter-spacing: 4px;

    opacity:0.9;

}



/* Add a gray color to all navbar links */

.navbar li a, .navbar .navbar-brand { 

    color: white !important;

}



/* On hover, the links will turn white */

.navbar-nav li a:hover {

    color: #fff !important;

}



/* The active link */

.navbar-nav li.active a {

    color: #fff !important;

    background-color:#29292c !important;

}



/* Remove border color from the collapsible button */

.navbar-default .navbar-toggle {

    border-color: transparent;

}

.align-center {

	text-align:center;

	

}

.align-left {

	text-align:left;

}

.row {

	margin:0px; !important

	width:100%; !important

}

body{

	background-image:url('bg.jpg');

}

.mainpage {

	background-color:#94A5F1;

	background-image:url('bg.jpg'); 

	background-repeat: no-repeat;

	background-position: center;

    	background-repeat: no-repeat;

    	background-size: cover;

	height:auto;

	

}

.mainpage h1{

	margin:1.9em 0 1.2em  0;

	font-family:sans-serif;

	font-size:480%;

	color:black;

}

.main-logo {

	height: 15em;

	width:30em;

	border: black solid 0.6em;

	border-radius:10%;

	margin:0px;

	padding:0px; !important

}

.smll-logo{

	height:8em;

	width:8em;

	border: transparent solid 0.5em;

	border-radius: 50%;

	margin:1em 0.5em 1em 0.5em;

	

	

}

.fig img {

	-webkit-transform: scale(0.9);

	transform: scale(0.9);

	-webkit-transition: .3s ease-in-out;

	transition: .3s ease-in-out;

}

.fig img:hover {

	-webkit-transform: scale(1.0);

	transform: scale(1.0);

	border: black solid 0.8em;

}

.abt {

	background-color:#817BDE  ;

	

	height:auto;

	width:100%;

}

.abt h1{

	margin:1em 0 0.5em  0;

	font-family:sans-serif;

	font-size:480%;

	color:black;

	

	

	

}

.abt p{

	

	font-size:2em;

	font-family:sans-serif;

	color:white;

	width:80%;

	height:auto;

	

	

}

.btn{

	color:black;

	margin:0 0 4em 0;

	

}

.btn:hover {

	opacity:0.8;

	border:solid black 0.1em;

	

}

.warning {background-color: #ff9800;} /* Orange */

.warning:hover {background: #e68a00;}

.info-logo{

	margin:4em 0 4em 0;

	height:12em;

	width:12em;



}



.head {

	background-color:#6B64DF;

}



.work {

	background-color:white;

}

.work h1{

	margin:1em 0 0.5em  0;

	font-family:sans-serif;

	font-size:480%;

	color:black;



}

.work p {

	color:black;

	margin:1.5em 0 5em 2em;

	font-size:1.8em;

	font-family:sans-serif;

	width:80%;

	height:auto;

}

.first {

	margin-top:2em;

	border-right: black solid 0.2em;

}

.second {

	margin-top:2em;

	

}

.first1 {

	margin-top:2em;

	

}

.second1 {

	margin-top:1em;

	border-right: black solid 0.2em;

}

.first1 img{

	margin-bottom:6em;

}

.footer {

	background: #242424;

	margin: 0;

    padding: 30px 0 10px; 

    color:#fff;

}



.copyright {

	text-align: center;

}

ul.social-network {

	list-style: none;

	display: inline;

	margin-left:0 !important;

	padding: 0;

}

ul.social-network li {

	display: inline;

	margin: 0 5px;

}



/* footer menu */

ul.footer-menu {

	list-style: none;

	display: inline;

	margin-left:0 !important;

	padding: 0;

}

ul.footer-menu li {

	display: inline;

	margin: 0 5px;

}

li a, .dropbtn {

    display: inline-block;

    color: black;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

}



li a:hover, .dropdown:hover .dropbtn {

    background-color: red;

}



li.dropdown {

    display: inline-block;

}



.dropdown-content {

    display: none;

    position: absolute;

    background-color: black;

    min-width: 160px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;

    color:black;

}



.dropdown-content a {

    color: black;

    padding: 12px 16px;

    text-decoration: none;

    display: block;

    text-align: left;

}



.dropdown-content a:hover {background-color: blue; color:black;}



.dropdown:hover .dropdown-content {

    display: block;

}